@model System.Collections.Generic.List<dotnetHelloWorld.Models.Student>

@{
    ViewData["Title"] = "Students";
}

<!DOCTYPE html>

<html>
<head>
    <title>Students</title>
</head>
<body>
<h1>Students</h1>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var student in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Name)
                </td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@student.Id">Edit</a> | *@
                    <a asp-action="Details" asp-route-id="@student.Id">Details</a> 
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
</div>
</body>
</html>